/*=============私有样式==============*/
.pages{
	width: 1198px; 
	margin: 90px auto 0;
	border: 1px solid #ddd;
}
.pages_top{
	width: 100%;
	height: 70px;
	position: relative;
}
.pages_top .release,
.pages_right .options .search_btn{
	position: absolute;
	right: 60px;
	top: 50%;
	margin-top: -20px;
}
.pages_left{
	width: 240px;
	margin-left: 32px;
	float: left;
}
.left_menu{
	width: 238px;
	border-radius: 5px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.left_menu li{
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #666;
	border: none;
	border-bottom: 1px solid #eee;
}
.left_menu li.active_btn{
	border-radius: 0;
	border-bottom-color: #4d8be6;
	background-color: #4d8be6;
}
.left_menu li a{
	display: inline-block;
	color: #666;
	width: 100%;
	height: 100%;
}
.left_menu li.active_btn a{
	color: white;
}
.pages_right{
	width: 898px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	float: right;
}
.pages_right .options{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eee;
	position: relative;
}
.pages_right .options span{
	margin: 0 10px 0 30px;
	line-height: 70px;
	color: #666;
}
.pages_right .options .default_btn,
.pages_right .options .active_btn{
	padding: 0 20px;
	margin-right: 20px;
}

.pages_right .options .ipt_box{
	font-size: 12px;
	display: inline-block;
	margin-left: -10px;
	color: #666;
}
.pages_right .price .ipt_box input.price_ipt{
	height: 20px;
	width: 32px;
	padding: 0 5px ;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-decoration: center;
	outline: none;
	color: #666;
	font-family: '微软雅黑';
}
.pages_right .options .tog_map{
	display: inline-block;
	width: 60px;
	height: 20px;
	color: #666;
	padding-right: 20px;
	border-radius: 3px;
	cursor: pointer;
}
.pages_right .options .show_map{
	background: #fff url(../img/icon/icon_list.png) no-repeat 58px -10px;
}
.pages_right .options .show_map:hover{
	color: orange;
	background: #fff url(../img/icon/icon_list.png) no-repeat 58px -80px;
}
.pages_right .options .hide_map{
	background: #fff url(../img/icon/icon_list.png) no-repeat 58px -120px;
}
.pages_right .options .hide_map:hover{
	color: orange;
	background: #fff url(../img/icon/icon_list.png) no-repeat 58px -100px;
}
.pages_right .search_bar{
	border-bottom: none; 
}
.pages_right .options .search_btn{
	margin-right: 0;
}

.pages_right .map_outer{
	height: 420px;
}
.pages_right .map_outer .map_inner{
	width: 860px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	border:#ddd solid 1px;
	font-size:12px
}
.pages_right .sort{
	width: 100%;
	height: 40px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #f7f7f7;
}
.pages_right .sort_list{
	width: 100px;
	height: 100%;
	text-align: center;
	display: inline-block;
	line-height: 40px;
	background-color: white;
	border-right: 1px solid #ddd; 
	font-size: 14px;
	color: #666;
	position: relative;
	cursor: pointer;
}
.pages_right .sort_list span{
	display: inline-block;
	font-size: 28px;
	height: 7px;
	position: relative;
	line-height: 14px;
	overflow: hidden;
		top: -2px;
}
.pages_right .prise_sort span{
	line-height: 0px;
	top: 0;
}
.pages_right .sort .default_sort{
	color: orange;
}
.paging_warp{
	width: 100%;
	padding: 50px 0;
	height: 36px;
}
.paging_warp .paging{
	margin-left: 240px;
}
.pages_bottom{
	width: 100%;
	clear: both;
}