/*==========index.html私有样式============*/
.banner{width: 100%;height: 470px;
	position: relative;
	padding-top: 190px;overflow: hidden;
	}
.banner ul li{
	width: 1920px;height: 660px;
	position: absolute;left: 50%;top: 0;z-index: -10;
	margin-left: -960px;}
.banner .logo{
	margin: 0 auto;
	width: 800px;height: 98px;
}
.banner .logo hr{
	display: inline-block; 
	width: 300px;
	border: 2px white solid;
	border-left: none;
	border-right: none;
	position: relative;
	margin: 0;top: -15px;
}
.banner  h2{
	margin-top: 18px;
	color: white;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
}
.banner  p{
	font-size: 18px;
	text-align: center;
	color: white;
}
.banner .search{
	margin: 46px auto 0;
	display: block;
}

.container{}
.container .filter_warp{
	width: 100%;height: 70px;
	background-color: #eee;
	overflow-y: visible;
}
.filter_warp .filter_inner{
	width:920px;
	height: 50px;
	margin: 0 auto;
	padding-top: 15px;
}
.filter_warp .filter_inner .default_selects input:hover{
	background-color: #f0f5ff;
}
.filter_warp .filter_inner .default_selects input,
.container .filter_warp .filter_inner .btn{
	margin-right: 30px;

}
.filter_warp .filter_inner .default_selects input,
.container .filter_warp .filter_inner .default_btn{
	border-color: #bbb;
}
.container .filter_warp .filter_inner label{
	margin-right: 50px;
}
.container .filter_warp .filter_inner .right{
	float: right;
}

.container hr{
	border: 1px solid #4e8be6;width:730px;
	margin-top: 50px;
}
.container h2{
	font-size: 30px;color: #333;text-align: center;
	display: inline-block;
	background-color: white;width: 140px;
	position:relative;top: -30px;left: 50%;
	margin-left: -70px;
	
}
.container p.f_title{
	font-size: 14px;color: #333;text-align: center;
	margin-top: -30px;
}
.container ul.products_nav{
	margin: 0 auto;
	width: 936px;
	margin-top: 50px;
}
.container .products_nav li{
	display: inline-block;
	margin: 0 6px;
	padding-bottom: 14px;
	border-bottom: 6px solid #fff;
}
.container .products_nav li:hover{
	border-color: #1bb6a2;
}
.container .products_nav li a{
	display: inline-block;
	width: 300px;
	height: 240px;
	}
.container .products_nav li.products_1 a{
	background: url(../img/picture/1.jpg) no-repeat;
}
.container .products_nav li.products_2 a{
	background: url(../img/picture/2.jpg) no-repeat;
}
.container .products_nav li.products_3 a{
	background: #4e8be6;
}

.container ul.products_nav li h3{
	text-align: center;
	font-size: 30px;
	color: white;
	line-height: 240px;
}
.container ul.products_nav li span{
	font-size: 18px;
	text-align: center;
	color:white;
	display:block;
	margin-top: -90px;
}
.container hr.hr_middle{
	border: 1px solid #DDDDDD;
	width: 100%;margin: 0;
	border-left: none;
	border-right: none;
}
.container .product_list{
	margin: 50px auto 0;
	width: 888px;
	position: relative;
}
.product_list .word_filer{
	width: 100%;
	height: 0px;
	position: relative;	
}
.product_list .word_filer .product_keyword{
	position: absolute;
	left: 12px;
	bottom: 0;
}
.product_list .word_filer .product_keyword li{
	display: inline-block;
	font-size: 14px;
	color: #666;
	margin-right: 12px;
	cursor: pointer;
}
.product_list .word_filer .product_keyword li:hover{
	color: #4E8BE6;
}
.product_list .word_filer .rest{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 56px;
	height: 28px;
	border-bottom: #4E8BE6 4px solid;
	color: #333;
	background: url(../img/icon/ui-ico.png) no-repeat 18px -184px;
	padding-left: 44px;
	line-height: 28px;
	cursor: pointer;
}
.container .product_list .shop{
	padding-top: 0;
}
.container .product_list .shop .last{
	width: 210px;
	height: 200px;
	background-color: #4e8be6;
	position: relative;
	top: -130px;
}
.container .product_list .shop .last h3{
	color: white;
	font-size: 30px;
	font-weight: lighter;
	line-height: 200px;
	text-align: center;
}
.container .product_list .shop .last h3 span{
	font-family: '宋体';
}